@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

/*---------------ナビゲーション-----------------*/
/*ナビゲーション内の文字*/
.menu {
    position: relative;
    width: 90%;
    height: 50px;
    max-width: 2000px;
    margin: 0 auto;
    text-align: center;
    z-index: 40;
}

ul{
    list-style:none;/*リストタグを非表示*/
}

.menu > li {
    float: left;
    width: 20%; /* グローバルナビ5つの場合 */
    height: 50px;
    line-height: 50px;
    background: rgb(29, 33, 19);
}

.menu > li a {
    display: block;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;  
}

.menu > li a:hover {
    color: #999;
}

ul.menu__second-level {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

ul.menu__third-level {
    visibility: hidden;
    opacity: 0;
}

ul.menu__fourth-level {
    visibility: hidden;
    opacity: 0;
}

.menu > li:hover {
    background: #072A24;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.menu__second-level li {
    border-top: 1px solid #111;
}

.menu__third-level li {
    border-top: 1px solid #111;
}

.menu__second-level li a:hover {
    background: #111;
}

.menu__third-level li a:hover {
    background: #2a1f1f;
}

.menu__fourth-level li a:hover {
    background: #1d0f0f;
}

/* 下矢印 */
.init-bottom:after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 0 0 15px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* floatクリア */
.menu:before,
.menu:after {
    content: " ";
    display: table;
}

.menu:after {
    clear: both;
}

.menu {
    *zoom: 1;
}
/*シングルナビゲーション*/
.menu > li.menu__single {
    position: relative;
}

li.menu__single ul.menu__second-level {
    position: absolute;
    top: 40px;
    width: 100%;
    background: #072A24;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

li.menu__single:hover ul.menu__second-level {
    top: 50px;
    visibility: visible;
    opacity: 1;
}
/*----------------------投稿方法説明-------------------------*/
#side_description{
    margin: 0 auto;
    padding: 20px 0;
    width: 100vh;
    height: 100vh;
    min-width: 50px;
   left:5%;
   top:10vh;
    background-color: #ffdead;
    opacity: 0.8;
    z-index: 5;
    position: relative;
    float: left;
   
}
h1{
    font-family: Impact;
    text-transform: uppercase;  /*大文字*/
    letter-spacing: -1px;       /*文字間隔*/
    opacity: 1.0;               /* 透明度*/
    position: relative;
    z-index: 30;
   text-align: center;
   font-size: 10vh;
}
/*--------------------投稿欄----------------------------*/
#form_box{
    margin: 0 auto;
    padding: 20px 0;
    width: 50vh;
    height:60vh;
    min-width: 50px;
   left:65%;
   top:20vh;
    background-color: #66cdca;
    opacity: 0.8;
    z-index: 5;
    position: fixed;
    float: left;
}
